.white {
  color: white;
}

.black {
  color: black;
}

.lightgrey {
  color: #c0c0c0;
}

.grey {
  color: #a0a0a0;
}

.orange {
  color: #ffbe4a;
}
.apricot {
  color: #fde1b0;
}
.gold {
  color: #d1aa60;
}

#dark {
  background-color: rgb(250, 250, 250);
  /* background-color: #0d1a29; */
}
#indigo {
  background-color: #fff;
  /* background-color: #0f1e35; */
}
